body {
  font-family: "Karla", sans-serif;
  background: #fafafa;
  max-width: 550px;
  padding: 35px;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

.linkText {
  font-family: "Space Mono", monospace;
  font-size: 14px;
  text-decoration: none;
  margin-right: 10px;
  padding: 1px 8px;
  background: black;
  color: white;

  transition: 100ms;
}

.linkText:hover {
  background-color: gainsboro;
  text-decoration: underline;
  color: black;
}

mytime {
  color: #cd0000;
  font-weight: bold;
}

.mylink {
  text-decoration: none;
}

.mylink:hover {
  text-decoration: underline;
}
